<!DOCTYPE html>
<html lang="zh-CN">
{% load staticfiles %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/indexv2.css' %}"/>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <link rel="icon" href="{% static 'image/favicon-20151229081944178.ico' %}"
          mce_href="{% static 'image/favicon-20151229081944178.ico' %}"
          type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'image/favicon-20151229081944178.ico' %}"
          mce_href="{% static 'image/favicon-20151229081944178.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'image/favicon-20151229081944178.ico' %}" type="image/gif">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/indexv2.css" %}"/>
</head>
<body>
<div class="container-fluid hidden-sm hidden-xs" style="background-color: #fff;">
    <div class="row" style="margin-top: 5px;">
        <div class="col-md-3" style="height: 50px;" id="logo"><img src="{% static 'image/logo.jpg' %}" alt="logo"
                                                                   style="max-height:50px;margin-top:5px"></div>
    </div>
</div>
<div class="navbar navbar-mystyle" role="navigation" id="navbar" style="margin-bottom: 0;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="color: #fff;">--</span>
                <span class="icon-bar" style="color: #fff;">--</span>
                <span class="icon-bar" style="color: #fff;">--</span>
            </button>
            <a class="navbar-brand hidden-md hidden-lg" href="/" style="padding: 5px;">
                <img src="{% static 'image/logo.png' %}" alt="" style="max-height: 100%;float:left"><span
                    style="float:left;font-size:15px;color:white;line-height:40px">芜湖市妇女儿童活动中心</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                {% for dep in header %}
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                            aria-haspopup="true" aria-expanded="false">{{ dep.0 }}<span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for inner in dep.1 %}
                                <li><a href="{% url 'dep' inner.1 %}">{{ inner.0 }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            <form class="navbar-form navbar-right" role="search" target="_parent" autocomplete="off"
                  action="{% url 'search' %}"
                  method="get">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" id="" placeholder="搜索新闻、产品">
                    <button type="submit" class="input-group-addon glyphicon glyphicon-search"
                            style="position: initial;"></button>
                </div>
            </form>
            {% if user %}
                <div class="navbar-right ">
                    欢迎您，{{ user.username }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% block content %}{% endblock %}
<div class="main-footer text-center" style="height: 70px;">
    <p style="line-height: 20px;padding-top: 10px;;">
        <span><a href="#" class="footer-a">关于我们</a></span>
        <span><a href="#" class="footer-a">联系我们</a></span>
        <span><a href="#" class="footer-a">法律声明</a></span>
        <span><a href="#" class="footer-a">联系地址</a></span>
        <span><a href="#" class="footer-a">管理团队</a></span>
    </p>
    <p style="line-height: 30px;margin-top: -10px;color: #535353;" class="hidden-xs">
        粤府新函[2001]87号 粤网文[2014]0633-233号 网络视听许可证1904073号 增值电信业务经营许可证：粤B2-20
    </p>
</div>
<script src="{% static "js/jquery.v1.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
{% block extent_js %}
{% endblock %}
</body>
</html>
